html
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

.container
  display: flex
  justify-content: space-between

.main
  background: lightgray
  padding-left: 20px

.container-item {
  flex-direction: column
  flex: 1
  .icon, h3 {
    color: #286C7C
  }
}

.container-side
  display: flex
  flex-direction: column
  background-color: #2E7B8F
  flex: initial
  width: 250px
  text-align: center
